/* src/components/BookList.css */
.card-button-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

.card-button {
  width: 50px;
}

.add-book-custom {
  color: #6c757d;
}
.add-book-custom:hover {
  cursor: pointer;
  color: #000000;
}

.trash-icon {
  color: #6c757d;
  cursor: pointer;
  font-size: 30px;
  vertical-align: middle;
}
.trash-icon:hover {
  color: #dc3545;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
