/* NavbarTop.css */
.custom-navbar-brand {
  font-weight: bold;
  color: #6c757d;
  letter-spacing: 2px;
}
.custom-search-field:focus {
  /* border-color: #000000; */
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

/* NavbarTop.css */
.navbar-box-shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}
