/* NavbarTop.css */
.custom-navbar-brand {
  font-weight: bold;
  color: #6c757d;
  letter-spacing: 2px;
}
.custom-navbar-brand:hover {
  color: #6c757d;
}

.custom-search-field:focus {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.navbar-box-shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
